*

!.gitignore

!rules
!rules/**

!config.toml
!fast.config.toml
!readonly.config.toml
!AGENTS.md

!skills/
!skills/**

!hooks.json
!agents
!code-explorer.toml
!implementer.toml
!log-analyzer.toml
!tester.toml
__pycache__